header {
    padding-top: 46px;
    height: 40px;
    padding-bottom: 39px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 107px;
    height: 24px;
    padding: 10px 0px;
}

.header-logo a {
    display: block;
}

.header-right {
    display: flex;
    gap: 0 65px;
}

.header-right .header-nav {
    display: flex;
    gap: 0 40px;
    line-height: 24px;
    padding: 10px 0;
}

.header-right .header-nav li{
    display: inline-block;
    line-height: 24px;
}

.header-right .header-nav a {
    font-size: 14px;
    color: #4F5361;
    font-weight: 200;
}

.header-left a {
    display: inline-block;
    padding: 10px 0;
    font-size: 14px;
    line-height: 24px;
}

.header-left a:first-child {
    color: #4F5361;
    margin-right: 38px;
}

.header-left a:last-child {
    color: #fff;
    padding: 11px 20px;
    background-color: #4F5361;
    border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .header-right {
        display: flex;
        gap: 0 50px;
    }
    
}

@media only screen and (max-width: 960px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .header-right {
        display: flex;
        gap: 0 30px;
    }

    .header-left a:first-child {
        color: #4F5361;
        margin-right: 20px;
    }

    .header-right .header-nav {
        display: flex;
        gap: 0 20px;
        line-height: 24px;
        padding: 10px 0;
    }
    
}