header {
    padding-top: 41px;
    padding-bottom: 34px;
    background: rgb(230,240,255);
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
}

/* header left */
.header .header-left {
    display: flex;
}

.header .header-logo {
    padding-top: 10px;
}

.header .header-logo a {
    line-height: 24px;
}

.header .header-left ul{
    display: flex;
    margin-left: 65px;
    padding: 10px 0;
}

.header .header-left ul li {
    padding: 0px 15px;
}

.header .header-left ul li a {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #4F5361;
}


/*end of header left*/

/* header right */
.header .header-right {
    display: flex;
}

.header .header-right a {
    display: inline-block;
    font-style: 14px;
    line-height: 24px;
    color: #4F5361;
    padding: 10px 0;
}

.header .header-right a:first-child {
    margin-right: 38px;
}

.header .header-right a:last-child {
    padding: 10px 20px;
    background-color: #4F5361;
    color: #fff;
    border-radius: 10px;
}